<!DOCTYPE html>
<html>
<head>
	<title>about</title>
	<link rel="icon" href="/img/weather.png"> 
	<link rel="stylesheet"   href="/css/style.css">
</head>
<body>

	<div class="main-content">
		{{>header}} 
	<br>
	<img src="/img/rohit.jpeg"  class="portrait"> 
	<p>age is {{age}}</p>  
	</div>
	 
	{{>footer}}
</body>
</html>